.minutes-container{ 
  width: 90%;
  height: 52vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-family: 'Inter', sans-serif;
  /* background-color: #218838; */
}

.minutes-container::-webkit-scrollbar {
  width: 5px;
}

.minutes-container::-webkit-scrollbar-track {
  background: #e7eef4;
  border-radius: 10px;
}

.minutes-container::-webkit-scrollbar-thumb {
  background: #8e9498;
  border-radius: 10px;
}

.minutes-container::-webkit-scrollbar-thumb:hover {
  background: #83878b;
}

.minutes-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.minutes-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 15px; */
  /* height: 0%; */
  padding: 1.3% 0% 1.3% 0%;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}
.minutes-details{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.minutes-text{
  width: 95%;
  font-weight: 500;
  font-size: 15px;
}
.minutes-date{
  font-size: 13px;
  color: #777;
}
.minutes-status{
  font-size: 13px;
  font-weight: 600;
  color: #888;
}
.status-button-complete-button{

}
.minutes-item:hover {
 background-color: #f7f9fc;
}


/* Edit form */
.edit-form {
  display: flex;
  gap: 10px;
}

.edit-input {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styles */
.button-group {
  display: flex;
  gap: 12px;
  width: 52%;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.icon-button:hover {
  color: #0056b3;
}

/* Status Buttons */
.status-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Completed Button */
.complete-button {
  background-color: #28a745;
  color: #fff;
}

.complete-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

/* Impossible Button */
.impossible-button {
  background-color: #dc3545;
  color: #fff;
}

.impossible-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

/* Completed state */
.complete .minutes-text {
  text-decoration: line-through;
  color: #28a745;
}

.complete .minutes-status {
  color: #28a745;
}

/* Impossible state */
.impossible .minutes-text {
  color: #dc3545;
}

.impossible .minutes-status {
  color: #dc3545;
}

.buttons-minutes{
  
  display: flex;
  width: 92%;
  gap: 1rem;
  margin-bottom: 3%;
}

.add-button-minutes{
  width: 20%;
  display: contents;
  justify-self: center;
  align-self: center;
}
.add-button-minutes:hover{
  background-color: rgb(62, 83, 152);
}